<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
	<properties>
		<property name="LOG_HOME">D://logs//sample</property>
		<property name="FILE_NAME">mylog</property>
	</properties>
	<appenders>
		<Console name="consolePrint" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
		<RollingRandomAccessFile name="debugLogger"	fileName="${LOG_HOME}/${FILE_NAME}.log">
			<PatternLayout	pattern="%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="consolePrint" />
			<appender-ref ref="debugLogger" />
		</root>
	</loggers>
</Configuration>